@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', Arial, sans-serif;

  /* 좌우 간격 중앙 정렬 */
  max-width: 1024px;
  margin: 0 auto;
}
